@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Rammetto+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fcfcfc;
}

h1 {
    text-align: center;
    font-family: Rammetto One,system-ui, Arial;
    margin-top: 5rem;
}

h4 {
    text-align: center;
    font-family: Josefin Slab,system-ui, Arial;
    font-size: xx-large;
}

.cookie_container {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    cursor: pointer;
}

/* set the image width to 100% of its container so it will follow the size of container */
.cookie_container img {
    width: 100%;
}